/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-7-26, 10:03:11
    Author     : liguangming <JN XianHe>
*/
h1 {
  font-weight: normal;
  font-size: 20px; }

.crop_info {
  display: flex;
  flex-direction: row;
  margin-top: 30px; }

.crop_info .crop_img {
  width: 200px;
  min-width: 200px;
  min-height: 200px;
  margin-left: 20px;
  height: 200px; }

.crop_info .crop_info_content {
  margin-left: 10px;
  display: flex;
  flex-direction: column; }

.crop_info .crop_info_content .crop_info_text {
  margin-top: 10px; }

.crop_info .crop_info_content .crop_info_name {
  margin-top: 10px;
  color: #000000;
  font-weight: bold; }

.crop_info .crop_info_content .crop_info_statu {
  margin-top: 10px;
  color: #1b97da;
  font-weight: bold; }

.crop_brand {
  margin-top: 20px; }

.crop_brand .crop_brand_content {
  margin-top: 20px;
  display: flex;
  flex-direction: row; }

.crop_brand .crop_brand_content .item_brand_list {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.crop_brand .crop_brand_content .item_brand_list .brand_name {
  color: #000000;
  margin-top: 20px;
  font-size: 20px; }

.crop_brand .crop_brand_content .item_brand_list .brand_text {
  color: #000000;
  margin-top: 10px; }

.crop_brand .crop_brand_content .item_brand_list .brand_avatar {
  width: 100px;
  height: 100px;
  border: 1px solid #e7e7e7; }

.crop_auth {
  margin-top: 5px; }

.crop_auth .crop_auth_content {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.crop_auth .crop_auth_content .middle_line {
  background: #dddddd;
  margin-top: 20px;
  width: 1px;
  height: 100px; }

.crop_auth .crop_auth_content .item_auth_list {
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  margin-right: 20px; }

.crop_auth .crop_auth_content .item_auth_list .auth_text {
  margin-left: 20px; }

.crop_auth .crop_auth_content .item_auth_list .text_arrow {
  margin-left: 20px;
  height: 40px;
  line-height: 40px; }

.crop_dianping {
  margin-top: 5px; }

.crop_dianping .crop_dianping_content {
  margin-top: 5px; }

.crop_dianping .crop_dianping_content .item_dianping_list_main {
  display: flex;
  flex-direction: column; }

.crop_dianping .crop_dianping_content .item_dianping_list {
  display: flex;
  flex-direction: row;
  margin-top: 20px; }

.crop_dianping .crop_dianping_content .dianping_line {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  background: #e9e9e9; }

.crop_dianping .crop_dianping_content .item_dianping_list .item_dianping_content {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 25%; }

.crop_dianping .crop_dianping_content .item_dianping_list .item_dianping_content_right {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 75%; }

.dianping_img {
  display: flex;
  flex-direction: row; }

.dianping_item_img {
  margin-left: 10px;
  margin-top: 10px;
  width: 100px;
  height: 100px; }

.crop_dianping .crop_dianping_content .item_dianping_list .text {
  margin-left: 20px; }

.crop_dianping .crop_dianping_content .item_dianping_list .dianping_text {
  margin-top: 20px;
  margin-left: 10px; }

.crop_dianping .crop_dianping_content .useravatar {
  width: 50px;
  height: 50px;
  margin-left: 20px; }

.right_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-content: center;
  margin-top: 20px;
  text-align: center; }

.right_menu_text {
  color: #1b97da;
  font-weight: bold; }

.right_menu_line {
  height: 1px;
  background: #e9e9e9;
  min-width: 80px;
  margin: 10px; }

.right_menu_line_1 {
  height: 1px;
  background: #e9e9e9;
  min-width: 160px;
  margin: 10px; }

.pingfen {
  width: 300px;
  height: 200px;
  border: 1px solid #e7e7e7;
  margin-top: 20px; }

.pingfen .pingfen_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center; }

.pingfen .pingfen_content .pingfen_star {
  display: flex;
  flex-direction: column;
  align-items: center; }

.pingfen .pingfen_content .pingfen_text {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 1px solid #b61d1d;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  border: 1px solid #e7e7e7; }

.pingfen .pingfen_content .pingfen_fen {
  font-size: 40px;
  color: #1b97da;
  font-weight: bold; }

.pingfen .dianping_btn {
  margin-left: 60px;
  margin-top: 20px;
  border: 0;
  width: 200px;
  height: 40px;
  background: #36F;
  font-size: 15px;
  color: #fff; }

.tonglei {
  margin-top: 20px;
  width: 300px;
  border: 1px solid #e7e7e7; }

.item_crop_list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  align-content: center;
  text-align: center; }

.item_crop_list.content {
  display: flex;
  flex-direction: column; }

.item_crop_img {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  height: 100px; }

.crop_name {
  margin-left: 10px;
  color: #000000;
  font-weight: bold; }

.crop_name_content {
  display: flex;
  flex-direction: column;
  margin-top: 10px; }

.crop_content {
  display: flex;
  flex-direction: column; }

.article {
  margin-top: 20px;
  width: 300px;
  border: 1px solid #e7e7e7; }

.item_article_list {
  margin-top: 10px;
  display: flex;
  flex-direction: row; }

.item_article_img {
  width: 90px;
  height: 70px;
  margin-left: 10px; }

.article_content {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  margin-left: 10px; }

.comm_menu {
  height: 50px;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #f5f5ed;
  padding: 0 10px;
  background: #f1f1f1;
  font-size: 18px; }

.crop_text_cropinfo {
  margin-top: 10px; }

.comment_img {
  display: flex;
  flex-direction: row; }

.comment_item_img {
  width: 100px;
  height: 100px;
  max-height: 100px;
  max-width: 100px; }

.crop_qrcode {
  width: 180px;
  height: 180px;
  max-width: 180px;
  max-height: 180px; }

.qrcode_text {
  width: 180px;
  text-align: center; }

.crop_company_content {
  display: flex;
  flex-direction: column; }

.crop_company_list {
  display: flex;
  flex-direction: row;
  margin-top: 20px; }

.item_company_content {
  display: flex;
  flex-direction: row;
  height: 50px;
  line-height: 50px; }

.en_brand {
  width: 80px;
  height: 80px;
  margin-left: 20px; }

/*# sourceMappingURL=cropinfo.css.map */
