{% for item in croplist %}
<div class="item_crop_list">
    <image src="{{url}}files/cropImgs/{{  (item.img|split(';'))[0] }}" class="item_crop_img"></image>
    <div class="crop_content">
        <div class="crop_name_content">
            <a class="crop_name"  title="{{ item.VarietyName }}" href="{{url}}model/crop/cropinfo.php?cropid={{item.CropId}}">{{ item.VarietyName }}</a>
            {% include 'comm/rate.html' with {'data':item.CropLevel} %}</div>
        <text class="crop_name">{{ item.category_1 }}  {{ item.category_2 }}</text>
        <text class="crop_text">{{item.IsGen}}</text>
        <text class="crop_text">育种：{{item.BreedOrganization}}</text>
    </div>
</div>
{% endfor %}